
.dropbtn {
  background-color: #3E6990;
  color: white;
  padding: 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0px;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2c4271;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 75px;
  margin: 0px;
  padding-top: 15%;
  padding-left: 3%;
  color:#381d2a;
  width: 35%;
  white-space: normal;
  word-break: break-word;
  
}
.startButton {
  background-color: #aabd8c; 
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 20px;
  width: 200px;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}
.startButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.startButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.startButton:hover {
  cursor: pointer;
  background-color:#86a578;
}
.startButton:hover span:after {
  opacity: 1;
  right: 0;
}

#wtv {
  margin-left: 3%;
  margin-right: 1%;
}
img {
  border-radius: 8px;
  position: absolute;
  top:5%;
  right:4%;
}
#ingredients {
  background-color: rgb(239, 239, 239);
  width: 15%;
  height: 20px;
  margin-top: 2%;
  border-radius: 5px;
}
label {
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  color:#381d2a;
}
#sortedBy {
  font-family: 'Courier New', Courier, monospace;

}
.searchButton {
  background-color: #aabd8c;
  font-family: 'Courier New', Courier, monospace;
  border-color: #381d2a;
  border-radius: 5px;
  height: 20px;
}
.check {
  height: 25px;
  width: 25px;

}
select {
  background-color: rgb(239, 239, 239);
  width: 15%;
  height:25px;
  font-family: 'Courier New', Courier, monospace;
  border-color: #381d2a;
  border-radius: 5px;
  border-width: 2px;
}
.invis {
  background:none; border:none;
}

#clipboard {
  height: 750px;
  width: 700px;
  margin-right: 1%;
}
#stepsList {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: #381d2a;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1%;
}
